figures/
logs/

*.pdf
*.pickle
*h5ad
*/h5

__pycache__*
.DS_Store

.snakemake/
.vscode

# build artifacts
dist/

*.egg-info/

# Other things in same folder
MAESTRO/
build/

*.ipynb

*.DS_Store

pipeline_env
